/* body{
    background-color: aqua;
} */

.font-open-sans{
    font-family: "Open sans", sans-serif;
    font-optical-sizing: auto;
}

header{
    background-color: #ffe6d5;
    padding-top: 50px;
    background: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    
    background-position: 23px 38px,bottom right;
}

*{
    margin: 0;
    padding: 0;
}

nav{

    width: 71%;
    max-width: 1140px;
    /* border: 1px solid brown ; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    font-size: 45px;
}

.color-orange{
    color: #FD6E0A;
    font-weight: 900;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{

    font-size: 20px;
    color: #474747;
    text-decoration: none;

}

.btn{
    background-color: #FD6E0A;
    max-width: 150;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;

}

.text-center{
    text-align: center;
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
color: #757575;
}


#banner{
 /* border: 1px solid red; */
 margin: 47px 38px 223px 280px ;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

#banner .banner-content{
    max-width: 700px;

}

#banner .banner-content h2{
    font size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;}

#banner .banner-content h1{
        font-size: 100px;
        font-weight: bold;
        color: #181818;
        margin-bottom: 50px;
}

    #banner .banner-content p{
        font-size: 18px;
        color: #757575;
        line-height: 30px;
        margin-bottom: 30px;
        

}

#about {
    padding-top: 130px;
   

}

#about .about-container{
width: 71%;
margin: 0 auto;
max-width: 1140px;
text-align: center;
background-color: #FFF8F3;
padding: 131px 157px;

}

#about .about-container .about-info{
    display: flex;
    text-align: center;
    gap: 65px;
    margin-left: 5px;
    
}

#skill{
    padding-top: 130px;

}

#skill .skill-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skill .skill-container .skill-box{
    display: flex;
    gap: 24px;
}

.skill-box .skill-card{
    padding: 30px;
    max-width: 267 px;
    box-shadow: 0 6px 50px 0 #00000071;
} 

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
color: #181818;
margin-bottom: 20px;
}

.skill-card p{
    font-size:20px;
color: #757575;
line-height: 30px;
margin-bottom: 30px;

}

#resume .section-heading{
    margin-top: 100px;
}

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;

}

.resume-container .section-title{
    font: 30px;
    color: #474747;
    /* font-weight: bold; */
    margin-bottom: 30px;
}

.resume-container hr{
    margin: 30px 0;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title h3{
font-size: 25px ;
font-weight: bold;
margin-bottom:10px;
color: #474747;

}

.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-text{
    font-size: 16px;
    margin-bottom: 20px;
    color: #757575;
    line-height: 28px;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container{
width: 71%;
max-width: 1140px;
margin: 0 auto;
display: flex;
gap: 116px;

}

.footer-container .social{
    max-width: 562px;
}

.footer-container h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;

}

.footer-container .icons a{
    margin-right: 24px ;
}

.footer-container form input[type="text"],.footer-container form textarea{
    width: 461px;
    padding: 18px 32px;
    border: none;
    margin-bottom: 24px;
    border-radius: 5px;
    color: #757575;
}

